# OS
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
node_modules/

# General
*.env
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
static/*

# VS Code
.vscode/*
!.vscode/settings.json